{% extends 'core/base.html' %}
{% block title %}About | {% endblock %}

{% block content %}
<h1>
    About
</h1>

<p>
    "Factotum: an employee who does all kinds of work." <br><br>
    My name is Matt Wegh, and this is my general purpose blog. I'm an educator interested in educational technology, and figured it was about time I tried my hand at coding. <br><br>
    This blog was created using YouTube and Udemy tutorials, plus some background in HTML, CSS and Python. <br><br>
    The contents of this blog will reflect the name. A little bit about a lot of different things. <br><br>
    Expect to see cooking content, brewing content, fishing stories and complaints about Chicago sports. Please leave comments as you see fit!

</p>
{% endblock %}